main.spec
EasyBot.spec
config.ini
Save/
test.py
test2.py

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc

.idea/
.vscode/
venv
Scripts/NewConfig.json
Scripts/Loads.json